<h1>All Songs</h1>
<ul>
<% @songs.each do |song|%>
    <div>Song Title:</div>
    <li><%= link_to song.title, song_path(song) %></li><br>
    <br>
    <div>Artist:</div>
    <li><%= song.artist_name %></li><br>
    <br>
    <div>Genre:</div>
    <li><%= song.genre %></li><br>
    <br>
    <div>Release Year:</div>
    <li><%= song.release_year %></li><br>
    <br>
    <li><%= link_to "View Song", song %></li><br>
    <li><%= link_to "Edit Song", edit_song_path(song) %></li><br>
    <li><%= link_to "Delete", song, method: :delete, data: { confirm: "Really?"} %></li><br>
    <br>
<%end%>
</ul>
<br>
<%= link_to 'Create New Song', new_song_path %>


